// Styling for the regular_courses
section#regular_courses {
    background-image: url('/images/courses/regular_course_bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    @include background-cover;
}