extends layout

block navigation
  include navbar_profile.jade

block content
    .content-wrapper
      .container-fluid
        // Breadcrumbs
        ol.breadcrumb
          li.breadcrumb-item Homework Page
            a(href='#') 
          li.breadcrumb-item.active Upload Files
        .row
          .col-lg-12
            h4 Select files you want to send to your teacher
            -if(messages.error)
                div.alert.alert-danger 
                  | !{messages.error}
            -if(messages.success)
              div.alert.alert-success 
                | !{messages.success}
            form#uploadForm(method='post', enctype='multipart/form-data', action="/homework/upload/" + user.firstName +"/" + user.lastName)
              input#files(type='file', name='myFile')
              p(style='text-align: left; margin-top: 20px;')
                input.btn.btn-lg.btn-primary(type='submit', value='Upload Files')