extends layout

block navigation
  include navbar_general.jade

block content
    // Header
    header.masthead
      .container
        .intro-text
          .intro-lead-in Welcome To Our School!
          .intro-heading.text-uppercase It's Nice To Meet You
          a.btn.btn-primary.btn-xl.text-uppercase.js-scroll-trigger(href='#languages') Learn More
    // Languages
    section#languages
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading.text-uppercase Languages
            h3.section-subheading.text-muted All languages are teached in 3 different types of courses.
        .row.text-center
          .col-md-4
            span(width='120', height='120')
              img.img-fluid.img-circle.center-block(src='/images/languages/united_kingdom_round_icon_256.png', alt='UK_flag', width='auto')
              // i.fa.fa-circle.fa-stack-2x.text-primary
              // i.fa.fa-shopping-cart.fa-stack-1x.fa-inverse
            h4.languages-heading English
            p.text-muted
              | English is the third most widespread native language in the world, after Standard Chinese and Spanish. It is the most widely learned second language and is either the official language or one of the official languages in almost 60 sovereign states.
          .col-md-4
            span(width='120', height='120')
              img.img-fluid.img-circle.center-block(src='/images/languages/germany_round_icon_256.png', alt='UK_flag', width='auto')
              // i.fa.fa-circle.fa-stack-2x.text-primary
              // i.fa.fa-laptop.fa-stack-1x.fa-inverse
            h4.languages-heading German
            p.text-muted
              | One of the major languages of the world, German is the first language of about 95 million people worldwide and the most widely spoken native language in the European Union. German also is the fourth most widely taught non-English language in the US and third in the EU.
          .col-md-4
            span(width='120', height='120')
              img.img-fluid.img-circle.center-block(src='/images/languages/spain_round_icon_256.png', alt='UK_flag', width='auto')
              // i.fa.fa-circle.fa-stack-2x.text-primary
              // i.fa.fa-lock.fa-stack-1x.fa-inverse
            h4.languages-heading Spanish
            p.text-muted
              | Spanish is the official or national language in Spain, Equatorial Guinea, and 19 countries in the Americas. Speakers in the Americas total some 418 million. In the EU, Spanish is the mother tongue of 8% of the population. Spanish is the most popular second language learned in the US.
    // Courses Grid
    section#courses.bg-light
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading.text-uppercase Courses
            h3.section-subheading.text-muted Select type of course the best for you.
        .row
          .col-md-4.col-sm-6.courses-item
            a.courses-link(href='/regular')
              .courses-hover
                .courses-hover-content
                  i.fa.fa-plus.fa-3x
              img.img-fluid(src='images/courses/regular_course.jpg', alt='')
            .courses-caption
              h4 Regular
              p.text-muted (Click for details)
          .col-md-4.col-sm-6.courses-item
            a.courses-link(href='/business')
              .courses-hover
                .courses-hover-content
                  i.fa.fa-plus.fa-3x
              img.img-fluid(src='images/courses/business_course.jpg', alt='')
            .courses-caption
              h4 Business
              p.text-muted (Click for details)
          .col-md-4.col-sm-6.courses-item
            a.courses-link(href='/intensive')
              .courses-hover
                .courses-hover-content
                  i.fa.fa-plus.fa-3x
              img.img-fluid(src='images/courses/intensive_course.jpg', alt='')
            .courses-caption
              h4 Intensive
              p.text-muted (Click for details)
    // About
    section#about
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading.text-uppercase About
            h3.section-subheading.text-muted Simply the best in teaching languages.  Our school is on the top in the rankings of language schools in Kraków.
        .row
          .col-lg-12
            ul.timeline
              li
                .timeline-image
                  img.rounded-circle.img-fluid(src='images/about/1.jpg', alt='')
                .timeline-panel
                  .timeline-heading
                    h4 December 2013
                    h4.subheading Our journey began! 
                  .timeline-body
                    p.text-muted
                      | We established our school in old tenement house in the city center. It consists of small reception and literally one classroom.
              li.timeline-inverted
                .timeline-image
                  img.rounded-circle.img-fluid(src='images/about/2.jpg', alt='')
                .timeline-panel
                  .timeline-heading
                    h4 March 2014
                    h4.subheading First semester in MultiLingua School started.
                  .timeline-body
                    p.text-muted
                      | In the begining 10 students started to learnd english at 3 different lveles B1, B2 and C1. At the time we had just 3 employees.
              li
                .timeline-image
                  img.rounded-circle.img-fluid(src='images/about/3.jpg', alt='')
                .timeline-panel
                  .timeline-heading
                    h4 August 2016
                    h4.subheading New languages in our courses.
                  .timeline-body
                    p.text-muted
                      | Due to high demand we decided to add to our offer German and Spanis languages.  We hired new teachers. At that time from our School graduated 600 students.
              li.timeline-inverted
                .timeline-image
                  img.rounded-circle.img-fluid(src='images/about/4.jpg', alt='')
                .timeline-panel
                  .timeline-heading
                    h4 March 2017
                    h4.subheading New classrooms and fast growth.
                  .timeline-body
                    p.text-muted
                      | We rented out 2 more rooms in the same location. At that time our school had 6 employees. Winter semester 2016/2017 started 240 new students!
              li.timeline-inverted
                .timeline-image
                  h4
                    | Be Part
                    br
                    | Of Our
                    br
                    | Story!
    // Team
    section#team.bg-light
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading.text-uppercase Our Amazing Teachers
            h3.section-subheading.text-muted All teachers are proffesional native speakers.
        .row
          .col-sm-4
            .team-member
              img.mx-auto.rounded-circle(src='images/team/1.jpg', alt='')
              h4 Kate Brickson
              p.text-muted English teacher. Born in London. Fan of classical music and football.
              ul.list-inline.social-buttons
                li.list-inline-item
                  a(href='https://twitter.com/?lang=pl')
                    i.fa.fa-twitter
                li.list-inline-item
                  a(href='https://pl-pl.facebook.com/')
                    i.fa.fa-facebook
                li.list-inline-item
                  a(href='https://pl.linkedin.com/')
                    i.fa.fa-linkedin
          .col-sm-4
            .team-member
              img.mx-auto.rounded-circle(src='images/team/2.jpg', alt='')
              h4 Michael Grass
              p.text-muted German teacher. Born in Munich. Likes skiing and crime books.
              ul.list-inline.social-buttons
                li.list-inline-item
                  a(href='https://twitter.com/?lang=pl')
                    i.fa.fa-twitter
                li.list-inline-item
                  a(href='https://pl-pl.facebook.com/')
                    i.fa.fa-facebook
                li.list-inline-item
                  a(href='https://pl.linkedin.com/')
                    i.fa.fa-linkedin
          .col-sm-4
            .team-member
              img.mx-auto.rounded-circle(src='images/team/3.jpg', alt='')
              h4 Caroline Garcia
              p.text-muted Spanish teacher. Born in Sevilla. She enjoys travelling.
              ul.list-inline.social-buttons
                li.list-inline-item
                  a(href='https://twitter.com/?lang=pl')
                    i.fa.fa-twitter
                li.list-inline-item
                  a(href='https://pl-pl.facebook.com/')
                    i.fa.fa-facebook
                li.list-inline-item
                  a(href='https://pl.linkedin.com/')
                    i.fa.fa-linkedin
        .row
          .col-lg-8.mx-auto.text-center
            p.large.text-muted
              | Out team is group of young and passionated people who will teach you languages in original and easy way. We are certificated teachers who knows how to transfer knowledge. We just like our job!
    // Contact
    section#contact
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading.text-uppercase Contact Us
            h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
        .row
          .col-lg-12
            form#contactForm(name='sentMessage', novalidate='', action="mail/contact_me.php" method="post")
              .row
                .col-md-6
                  .form-group
                    input#name.form-control(type='text', name='name', placeholder='Your Name *', required='', data-validation-required-message='Please enter your name.')
                    p.help-block.text-danger
                  .form-group
                    input#email.form-control(type='email', name='email', placeholder='Your Email *', required='', data-validation-required-message='Please enter your email address.')
                    p.help-block.text-danger
                  .form-group
                    input#phone.form-control(type='tel', name='phone', placeholder='Your Phone *', required='', data-validation-required-message='Please enter your phone number.')
                    p.help-block.text-danger
                .col-md-6
                  .form-group
                    textarea#message.form-control(name='message', placeholder='Your Message *', required='', data-validation-required-message='Please enter a message.')
                    p.help-block.text-danger
                .clearfix
                .col-lg-12.text-center
                  #success
                  button#sendMessageButton.btn.btn-primary.btn-xl.text-uppercase(type='submit') Send Message
    // courses Modals
    // Modal 1
    #coursesModal1.courses-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog
        .modal-content
          .close-modal(data-dismiss='modal')
            .lr
              .rl
          .container
            .row
              .col-lg-8.mx-auto
                .modal-body
                  // Project Details Go Here
                  h2.text-uppercase Project Name
                  p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                  img.img-fluid.d-block.mx-auto(src='images/courses/01-full.jpg', alt='')
                  p
                    | Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                  ul.list-inline
                    li Date: January 2017
                    li Client: Threads
                    li Category: Illustration
                  button.btn.btn-primary(data-dismiss='modal', type='button')
                    i.fa.fa-times
                    |                     Close Project
    // Modal 2
    #coursesModal2.courses-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog
        .modal-content
          .close-modal(data-dismiss='modal')
            .lr
              .rl
          .container
            .row
              .col-lg-8.mx-auto
                .modal-body
                  // Project Details Go Here
                  h2.text-uppercase Project Name
                  p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                  img.img-fluid.d-block.mx-auto(src='images/courses/02-full.jpg', alt='')
                  p
                    | Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                  ul.list-inline
                    li Date: January 2017
                    li Client: Explore
                    li Category: Graphic Design
                  button.btn.btn-primary(data-dismiss='modal', type='button')
                    i.fa.fa-times
                    |                     Close Project
    // Modal 3
    #coursesModal3.courses-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog
        .modal-content
          .close-modal(data-dismiss='modal')
            .lr
              .rl
          .container
            .row
              .col-lg-8.mx-auto
                .modal-body
                  // Project Details Go Here
                  h2.text-uppercase Project Name
                  p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                  img.img-fluid.d-block.mx-auto(src='images/courses/03-full.jpg', alt='')
                  p
                    | Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                  ul.list-inline
                    li Date: January 2017
                    li Client: Finish
                    li Category: Identity
                  button.btn.btn-primary(data-dismiss='modal', type='button')
                    i.fa.fa-times
                    |                     Close Project
