extends layout

block content
    // Intensive courses
    section#intensive_courses 
      .container
        .row
          .col-lg-12.text-center.text-white
            h2.section-heading.text-uppercase INTENSIVE COURSE
            h3.section-subheading For those who wish to learn, travel, meet, socialise, and talk on the phone, face situations and activities in daily life.
      // English
      .container#intensive_english.bg-light.mb-5
        .row
          .col-md-6
            h4.languages-heading 
              kbd English
            p
              | intensive English Course is the most popular course in MultiLingua School. Our general English courses are applicable to all levels. They are held by qualified, mother tongue teachers who have great experience in the teaching. During the course, the four language abilities (reading, writing, speaking and listening) will be developed. The study of grammar, vocabulary and pronunciation will also be included. The course programme is decided on by the teacher according to the level of the individual student or group.
            ul.list-inline
              h6 Key characteristics:
              li
                b Start Date: 
                | 5th March 2018
              li 
                b No of hours: 
                | 48/semester
              li 
                b Levels: 
                | A1, A2, B1, B2, C1, C2
              li 
                b Classes: 
                | 2 x 90 min/week or 1 x 180 min/week
              li 
                b Price: 
                mark 950.00 PLN/semester
          .col-md-6
            span
              img.img-responsive.center-block.mt-4(src='images/courses/eng_levels.jpg', alt='eng_levels')
            // h4.languages-heading German
            // p.text-muted
        .row  
          .col-md-12.text-center
            a.btn.btn-primary.btn-xl.text-uppercase.js-scroll-trigger.m-3(href='#languages') Sign Up!
      // German
      .container#intensive_german.bg-white.mb-5
        .row
          .col-md-6
            h4.languages-heading 
              kbd German
            p
              | German language courses at MultiLingua are available for different interest and ability levels, from beginner to advanced courses. Our German classes are held with a variety of teaching methods to provide you with all necessary skills such as writing, speaking, listening and reading. They are taught exclusively by German native speakers at various course levels in small groups. Whether participants learn German as expats or combine the course with a vacation in Vienna - We have the perfect course for YOU!
            ul.list-inline
              h6 Key characteristics:
              li
                b Start Date: 
                | 5th March 2018
              li 
                b No of hours: 
                | 48/semester
              li 
                b Levels: 
                | A1, A2, B1, B2, C1, C2
              li 
                b Classes: 
                | 2 x 90 min/week or 1 x 180 min/week
              li 
                b Price: 
                mark 1050.00 PLN/semester
          .col-md-6
            span
              img.img-responsive.center-block.mt-4(src='images/courses/ger_levels.jpg', alt='ger_levels')
            // h4.languages-heading German
            // p.text-muted
        .row  
          .col-md-12.text-center
            a.btn.btn-primary.btn-xl.text-uppercase.js-scroll-trigger.m-3(href='#languages') Sign Up!
      // Spanish
      .container#intensive_spanish.bg-light.mb-5
        .row
          .col-md-6
            h4.languages-heading 
              kbd Spanish
            p
              | Our Spanish school wishes to immerse students in the Spanish life style and the culture, through the most modern and effective teaching techniques (using role-plays, rhythm exercises, word games, authentic material, use of new technologies, practices in real contexts, etc.). At the same time, we prepare students for real intercultural communication. We offer the following wide range of Spanish language programmes that emphasize the participant’s ability to communicate.
            ul.list-inline
              h6 Key characteristics:
              li
                b Start Date: 
                | 5th March 2018
              li 
                b No of hours: 
                | 48/semester
              li 
                b Levels: 
                | A1, A2, B1, B2, C1, C2
              li 
                b Classes: 
                | 2 x 90 min/week or 1 x 180 min/week
              li 
                b Price: 
                mark 850.00 PLN/semester
          .col-md-6
            span
              img.img-responsive.center-block.mt-4(src='images/courses/spa_levels.jpg', alt='spa_levels')
            // h4.languages-heading German
            // p.text-muted
        .row  
          .col-md-12.text-center
            a.btn.btn-primary.btn-xl.text-uppercase.js-scroll-trigger.m-3(href='#languages') Sign Up!