extends layout

block content
  body#page-top.login_body.background-cover
    .container.d-flex(style="min-height: 800px")
      .card.card-login.mx-auto.login_window
        .card-header.bg-dark.text-white
          | Login
          a.navbar-brand.js-scroll-trigger.float-right.pt-0.pb-0(href='/', style="font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;") MultiLingua School
        .card-body.bg-light
          //show any messages that come back with authentication
          -if(message.length > 0)
           div.alert.alert-danger 
             | !{message}
          form(method="post", action="/login")
            .form-group
              label(for='exampleInputEmail1') Email address
              input#exampleInputEmail1.form-control(name="email", type='email', aria-describedby='emailHelp', placeholder='Enter email', required)
            .form-group
              label(for='exampleInputPassword1') Password
              input#exampleInputPassword1.form-control(name="password", type='password', placeholder='Password (4 - 16 char.)', minlength='4', maxlength='16', required)
            .form-group
              .form-check
                label.form-check-label
                  input.form-check-input(type='checkbox')
                  |                   Remember Password
            button.btn.btn-primary.btn-block(type="submit", href='') Login
          .text-center
            a.d-block.small.mt-3(href='/register') Register an Account
            a.d-block.small(href='/forgot_password') Forgot Password?
