body#page-top
  // Navigation of main website
  nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
    .container
      a.navbar-brand.js-scroll-trigger(href='/') MultiLingua School
      button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
        | Menu
        i.fa.fa-bars
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.text-uppercase.ml-auto
          li.nav-item
            a.nav-link.js-scroll-trigger(href='/#languages') Languages
          li.nav-item
            // a.nav-link.js-scroll-trigger(href='/#courses') Courses
            .btn-group
              a#courses_btn.nav-link.js-scroll-trigger(href='/#courses') Courses
              a.nav-link.btn.dropdown-toggle.dropdown-toggle-split(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                span.sr-only Toggle Dropdown
              .dropdown-menu
                a.nav-link.dropdown-item(href='/regular') Regular
                a.nav-link.dropdown-item(href='/business') Business
                a.nav-link.dropdown-item(href='/intensive') Intensive
          li.nav-item
            a.nav-link.js-scroll-trigger(href='/#about') About
          li.nav-item
            a.nav-link.js-scroll-trigger(href='/#team') Team
          li.nav-item
            a.nav-link.js-scroll-trigger(href='/#contact') Contact
          li.nav-item
            a.nav-link.js-scroll-trigger(href='/login') 
              span#signin_btn Log in