extends layout

// Render profile dashboard when user logged in
block navigation
  include navbar_profile.jade

block content
    .content-wrapper
      .container-fluid
        // Breadcrumbs
        ol.breadcrumb
          li.breadcrumb-item Profile Page
            a(href='#') 
          li.breadcrumb-item.active Welcome
        .row
          .col.text-center
            h1 Welcome #{user.firstName}! 
        .row
          .col.text-center
            h3 Your last visit was on 'date'