extends layout

block content
  script
    include ../public/javascripts/script.js
  body#page-top.register_body.background-cover
    .container(style="min-height: 800px")
      .card.card-register.mx-auto.register_window
        .card-header.bg-dark.text-white
          | Register for a course
          a.navbar-brand.js-scroll-trigger.float-right.pt-0.pb-0(href='/', style="font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;") MultiLingua School
        .card-body.bg-light
          //show any messages that come back with authentication
          -if(message.length > 0)
            div.alert.alert-danger 
              | !{message}
          form(method="post", action="/register")
            .form-group
              .form-row
                .col-md-6
                  label(for='exampleInputName') First name
                  input#exampleInputName.form-control(name="first_name", type='text', aria-describedby='nameHelp', placeholder='Enter first name', maxlength='50', required)
                .col-md-6
                  label(for='exampleInputLastName') Last name
                  input#exampleInputLastName.form-control(name="last_name", type='text', aria-describedby='nameHelp', placeholder='Enter last name', maxlength='50', required)
              .form-row
                .col-md-6
                  label(for='languageInput') Language
                  select#languageInput.form-control(name="language", type='text', aria-describedby='nameHelp', placeholder='Choose a language')
                    option English
                    option German
                    option Spanish
                .col-md-6
                  label(for='languageLevel') Level
                  select#languageLevel.form-control(name="level", type='text', aria-describedby='nameHelp', placeholder='Choose a level')
                    option A1
                    option A2
                    option B1
                    option B2
                    option C1
                    option C2
            h6
              | Register an Account      
            .form-group
              label(for='exampleInputEmail1') Email address
              input#exampleInputEmail1.form-control(name="email", type='email', aria-describedby='emailHelp', placeholder='Enter email', maxlength='120', required)
            .form-group
              .form-row
                .col-md-6
                  label(for='exampleInputPassword1') Password
                  input#password.form-control(name="password", type='password', placeholder='Password (4 - 16 char.)', minlength='4', maxlength='16', required)
                .col-md-6
                  label(for='exampleConfirmPassword') Confirm password
                  input#confirm_password.form-control(name="confirm_password", type='password', placeholder='Confirm password', required)
            button.btn.btn-primary.btn-block(type="submit", href='/login') Register
          .text-center
            a.d-block.small.mt-3(href='/login') Login Page
            // a.d-block.small(href='/forgot_password') Forgot Password?